# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://help.github.com/actions/language-and-framework-guides/publishing-nodejs-packages

name: Node.js Package

on:
  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 12
      - name: Cache node modules
        uses: actions/cache@v1
        with:
          path: ~/.npm
          key: ${{ runner.os }}-npm-timechart-${{ hashFiles('package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-npm-timechart-
            ${{ runner.os }}-npm-
      - run: npm ci
      - run: npm test

  publish-npm:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 12
          registry-url: https://registry.npmjs.org/
      - name: Cache node modules
        uses: actions/cache@v1
        with:
          path: ~/.npm
          key: ${{ runner.os }}-npm-timechart-${{ hashFiles('package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-npm-timechart-
            ${{ runner.os }}-npm-
      - run: npm ci
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.npm_token}}

  publish-gpr:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 12
          registry-url: https://npm.pkg.github.com/
      - name: Cache node modules
        uses: actions/cache@v1
        with:
          path: ~/.npm
          key: ${{ runner.os }}-npm-timechart-${{ hashFiles('package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-npm-timechart-
            ${{ runner.os }}-npm-
      - run: |
          npm ci
          node <<EOF
            const pkg = require('./package.json');
            pkg.name = '@huww98/' + pkg.name;
            const fs = require('fs');
            fs.writeFileSync('./package.json', JSON.stringify(pkg, null, 4));
          EOF
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}
